/* General body styling */
@import"https://fonts.googleapis.com/css2?family=Comfortaa&display=swap";.social[data-astro-cid-yxtifmrq] svg[data-astro-cid-yxtifmrq]{height:30px;width:30px;color:#fff;margin-right:20px;transition:.4s}.social[data-astro-cid-yxtifmrq] svg[data-astro-cid-yxtifmrq]:hover{color:#b2cad4;scale:1.25}[data-astro-cid-j7pv25f6]{padding:0;margin:0;box-sizing:border-box}ul[data-astro-cid-j7pv25f6],li[data-astro-cid-j7pv25f6]{list-style:none}html{height:100%}h3[data-astro-cid-j7pv25f6]{color:#fff}p[data-astro-cid-j7pv25f6]{color:#d4edfa}body{background-image:url(/background.jpg);background-repeat:no-repeat;background-size:cover;display:flex;align-items:center;justify-content:center;height:100%;font-family:sans-serif;font-family:Comfortaa,cursive}.avatar[data-astro-cid-j7pv25f6]{border-radius:50%;width:100px;height:100px;border:5px solid rgb(178,202,212)}.container[data-astro-cid-j7pv25f6]{border-radius:3rem;width:500px;height:475px;background-color:#434652;position:relative}.container[data-astro-cid-j7pv25f6] .same[data-astro-cid-j7pv25f6]{padding:30px}.footer[data-astro-cid-j7pv25f6]{display:flex;background-color:#3d404d;bottom:0;width:100%;height:116px;border-end-end-radius:3rem;border-end-start-radius:3rem;align-items:center}.header[data-astro-cid-j7pv25f6] h3[data-astro-cid-j7pv25f6]{font-size:32px;margin-top:20px;margin-bottom:10px}.header[data-astro-cid-j7pv25f6] p[data-astro-cid-j7pv25f6]{opacity:.7;margin-bottom:10px}.main[data-astro-cid-j7pv25f6] p[data-astro-cid-j7pv25f6]{margin-bottom:10px}@media screen and (max-width: 500px){.container[data-astro-cid-j7pv25f6]{height:100%;width:100%}.container[data-astro-cid-j7pv25f6],.footer[data-astro-cid-j7pv25f6]{border-radius:0}.footer[data-astro-cid-j7pv25f6]{position:relative}}

/* Card styling */
.card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Hover effect for the card */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Styling for the social links */
.social-links a {
  text-decoration: none;
  color: #333;
  margin: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

/* Hover effect for social links */
.social-links a:hover {
  color: #225e9ed2;
  transform: translateY(-4px) !important;
}

/* Styling for the fabric-like interactive background */
.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body, html {
  height: 100%; /* Allow for scrolling */
  margin: 0;
  overflow-x: hidden;
}


.pattern {  
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  background-image: radial-gradient(
    rgb(255 255 255 / 10%) 1px, 
    transparent 1px
  );
  background-position: center;
  background-size: 1.1rem 1.1rem;
}
.split-text {
  position: relative;
  height: 1.5em;
  width: min(250px, 90vw);
  overflow: hidden;
}

.split-text span {
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(1.1rem, 2.5vw, 1rem);
}

.split-text-1 {
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 25%);
}

.split-text-2 {
    clip-path: polygon(0 25%, 100% 25%, 100% 50%, 0 50%);
}

.split-text-3 {
    clip-path: polygon(0 50%, 100% 50%, 100% 75%, 0 75%);
}

.split-text-4 {
    clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
}

.split-text:hover .split-text-1 {
    transform: translateY(-8px);
}

.split-text:hover .split-text-2 {
    transform: translateY(-5px);
}

.split-text:hover .split-text-3 {
    transform: translateY(5px);
}

.split-text:hover .split-text-4 {
    transform: translateY(8px);
}





